.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  margin-block-start: auto;
  padding-block: 1.75rem;

  background-color: var(--color-primary);
  box-shadow: var(--full-bleed-shadow) var(--color-primary);
  clip-path: var(--full-bleed-path);
  color: var(--font-color-inverted);
}

.footer blockquote {
  grid-column: span 2;
}

.footer h2 {
  font-weight: normal;
}

.footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer li {
  display: flex;
  gap: 0.25rem;
}

.footer li::before {
  content: '';
  flex-shrink: 0;
  height: calc(1em * var(--line-height));
  margin-block: 0.5rem;
  aspect-ratio: 1;
  background-color: var(--font-color-inverted);
  mask: var(--icon-delta-right) no-repeat 50% 50%;
  mask-size: 1em;
}

.footer a {
  display: block;
  padding-block: 0.5rem;
  color: var(--font-color-inverted);
}

@media (min-width: 48rem) {
  .footer {
    grid-template-columns: 1fr 10.5rem 10.5rem;
    padding-block: 2.5rem;
  }

  .footer blockquote {
    grid-column: auto;
  }
}
